<div class="">
  <div class="toolbar clearfix">
    <div class=" pull-left">&nbsp;
      
          <a (click)="saveEmployeeDetails()">
              <i class="fa fa-plus"></i> Save
            </a>
            <a href="javascript:void(0)">
              <i class="fa fa-refresh"></i> Cancel
            </a>
      
    </div>
  </div>
  <div >
    <!-- <i class="fa fa-times pull-right" aria-hidden="true" (click)="goBack()" ></i> -->
    <div class="dockedLevelTwo vpheight content-region ">

      <table class="table table-bodered">
        <thead>
          <th>Name</th>
          <th>Mobile</th>
          <th>Email</th>
          <th>City</th>
        </thead>
        <tr>
          <td>
            <input type="text" name="name" placeholder="Enter Name" [(ngModel)]="employeeDetails.name">
          </td>
          <td>
            <input type="text" placeholder="Mobile No." [(ngModel)]="employeeDetails.mobile">
          </td>
          <td>
            <input type="text" placeholder="Email-Id" [(ngModel)]="employeeDetails.email">
          </td>
        
        </tr>
      </table>

      test<br/>test<br/>test<br/>test<br/>test<br/>test<br/>test<br/>
      test<br/>test<br/>test<br/>test<br/>test<br/>test<br/>test<br/>
      test<br/>test<br/>test<br/>test<br/>test<br/>test<br/>test<br/>
      test<br/>test<br/>test<br/>test<br/>test<br/>test<br/>test<br/>
    </div>


    
  </div>
</div>
<div>
  <div class="setSimulate">
    <!-- <router-outlet></router-outlet> -->
  </div>
</div>